button {
    margin: 2px;
}

.small-btn {
    width: 49px;
    height: 30px;
}

.notation-btn {
    width: 80px;
}

.solve-equation-btn {
    width: 120px;
    height: 189px;
}

/*.abra {*/
/*	background-image: url();*/
/*}*/

.inp {
    margin-top: 2px;
    margin-bottom: 2px;
}

#display {
    padding: 8px;
    margin:16px 12px 10px 16px;
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
    border-radius:8px;
}

#calculator {
    max-width: 600px;
    border-radius:8px;
    padding: 8px;
}

#result p{
    font-size:1.8em;
}

#result,
#previous {
    text-align: right;
}