button {
    margin: 2px;
}

.small-btn {
    width: 49px;
    height: 30px;
}

.notation-btn {
    width: 80px;
}

.solve-equation-btn {
    height: 205px;
}

/*.abra {*/
/*	background-image: url();*/
/*}*/


#display {
    background-image: url('/static/images/display.png');
    padding: 8px;
    margin:16px 12px 10px 16px;
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
    border-radius:8px;
}

#calculator {
	background-image: url('/static/images/background.png');
    max-width: 1920px;
    max-height: 1080px;
    border-radius:8px;
    padding: 8px;
}

#result p{
    font-size:1.8em;
}

#result,
#previous {
    text-align: right;
}